<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title>ADMIN</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
	integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
	integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
	crossorigin="anonymous"></script>
</head>
<meta charset="ISO-8859-1">
<title>Administrador</title>
</head>
<body class="text-center">
	<div class="form-group">
		<form action="altaproducto" class="form-group">
			<input type="submit" class="btn btn-outline-primary"
				value="Agregar Producto">
		</form>
		<form action="altausuario" class="form-group">
			<input type="submit" class="btn btn-outline-primary"
				value="Agregar Usuario">
		</form>
		<form action="listaproductos" class="form-group">
			<input type="submit" class="btn btn-outline-primary"
				value="Mostrar Productos">
		</form>
		<form action="ventas" class="form-group">
			<input type="submit" class="btn btn-outline-primary"
				value="Mostrar Ventas">
		</form>
		<form action="listausuarios" class="form-group">
			<input type="submit" class="btn btn-outline-primary"
				value="Mostrar Usuarios">
		</form>
		
		<form action="login" class="form-group" id="formCerrarSesion">
			<input type="submit" class="btn btn-outline-primary"
				value="Cerrar Sesion">
		</form>
	</div>
</body>
</html>